/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
    padding-bottom: 60px;
}
/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
p, #resume li {
 font-size: 1.063em; /* 17px / 16px(Default PX for whole page defined as font-size 100%)= 1.063em */
 line-height: 1.223; /* 20px / 16px(Default PX for whole page defined as font-size 100%)= 1.25em */
                      /* 1.063(Default font-size) X 1.25(Default line-height) = 1.32875 Round to 1.3 is Line-Height Scale*/
					  /*Line Height Formula Scale(1.3) / font-size (1.063) = 1.223 */
					  
					  margin: .612em 0;
}

 h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
 }
 
  h1 {
   font-size: 3.189em; /* 3(h1 size should be 3 times default size) x 1.063(default font size from p tag) = 3.189em */
   line-height: 1.223;
  }
  
  h2 {
    font-size: 2.126em; /* 2(h2 size should be 2 times default size) x 1.063(default font size from p tag) = 2.126em */
	line-height: 1.223;
  }
  
  h3  {
     font-size:  1.382em; /*Default font-size(1.063) X Scale (1.3) = 1.382 */
	 line-height: 1.179em; /* 1.3 / 1.382 = 0.94*/ /*This value too small to increase size by half
	    change scale 1.3 + .65 = 1.95 now perform 1.95 / 1.382(Font Size) = 1.41 */
		/*This change is too much lets reduce by 1/4 - 1.3 + .325 = 1.625 / 1.382 = 1.176*/
  }
  
  #content article {
    padding-bottom: 1.3em;
	padding-top: .65em;
  }
/*
body {
	min-height: 100%;
	font-size: 100%;
}
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {top: -0.5em;}

sub {bottom: -0.25em;}

pre {white-space: pre;white-space: pre-wrap;word-wrap: break-word;}

b,
strong {font-weight: bold;}

abbr[title] {border-bottom: 1px dotted;}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

 #masthead { width:80%; }
.footer{margin-bottom: -2px;}

/* ******************************************
	Web Fonts
****************************************** */

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-light-webfont.svg#RobotoCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

  @font-face {
    font-family: myFirstFont;
    src: url("/fonts/glyphicons-halflings-regular.woff"); 
    font-weight:bold;
    } 

body {
	font-family: "Roboto Condensed Light", "Helvetica Neue", Helvetica, sans-serif;
    background: #1A413C;
}
#masthead {
			color:#fff;
		        width:80%;
		}
/* ******************************************
	Media Queries for screen wider than 720px
****************************************** */
@media screen and (width: 720px){
	#portfolio article,
	#resume article {
		float:left;
		width:33%;
	}
}

/*Pulled from on page style section*/
	#nav,#masthead,#content,#colophon {
		margin: 0 18px;
	}
	
	#masthead {
		color:#fff;
	}
	#container-nav {
		background:#1A413C;
	}
	
	#container-content {
		padding: 24px 0;
        background:#1A413C;
	}
	
	#container-footer {
		padding: 32px 0;
		background:#352a38;
		color:#eee;
		font-weight:100;
	}
	.box {
		padding:14px;
	}
	
	img {
		max-width:100%;
	}
#nav,
#masthead,
#content,
#colophon {
	margin: 0 3.3%;
}
	
@media screen and (min-width: 45em){
	#portfolio article, #resume article {
		float: left;
		width: 33.333%;
	}
	
	
    body {font-size: 107.692307692308%;  overflow-x:hidden !important;}
    
    #myCarousel {
    margin-top: 0em;
    max-height: 18em;
    max-width: 1315px;
}
		
		#masthead {
		  max-width: 40em;
		}
		
	   #nav,
#masthead,
#content,
#colophon {
	margin: 0 5.5%;
}
.name, .email {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    
		.name {
			padding-right: .65em;
			}
			
		.email {
			padding-left: .65em;
			}
			
		.send {
			width: 48.6%;
			}
			
		
}

/*Media query for screen @ 60em or 960px*/
@media (min-width: 60em) {

.name, .email {
    padding-right: 1.3em;
    padding-left: 0;
    clear: both;
    }
    
.message textarea {
    width: 50%;
    }
    
.send {
    width: 25%;
    margin-left: 50%;
    }
    
    #myCarousel {margin-top: -.5em !important; max-height: 20.61em !important; max-width: 1336px !important; }
    #hmpgTop {margin-top: -.5em !important; max-height: 28.61em !important; max-width: 1336px !important; }
    
    .pic1, .pic2, .pic3 { background-size: 547px 289px !important;  margin: 5px 0 0 215px !important;}
    
   .suprtxt {font-family: myFirstFont; font-size: 2.7em; color: #03201C;  margin: 542px 0 0 -62px; position: relative;
        position: relative; top: -51px !important;  left: -33px;}
    
    .hmpgTopImg {background-image: url("/img/hmpgBBCrt.png"); background-repeat: no-repeat; background-size: 501px 372px !important; 
        height: 373px; margin: 6px 0 0 383px;}
}

@media (min-width: 75em) {
    
    
    .bodyClr{background-color: #1A413C; max-width: 1700px;width: 100%;}
    .bodyClrHm {width: 100%;}

    
    .suprtxt {font-family: myFirstFont; color: #03201C; font-size: 2.6em !important;  margin: 542px 0 0 -62px; position: relative;
        position: relative; top: -59px !important;  left: -95px !important;}
    
    .hmetxt {font-family: myFirstFont;  color: #03201C; font-size: 2.6em !important; position: absolute; top: 229px !important; left: -39px !important; z-index: 100;}
    
    .phototxt {font-size: 2.7em;margin: -158px 0 0 -105px; position: relative;}
    .carousel-inner{margin-left: 114px;top:  -5px;}
    
    .carousel-indicators{left: 47% !important;}
    
    .padbtm {padding-bottom: 1em; margin-top: -3px;}
    .hmtxt{max-width: 876px; margin: -7px 0 0 35px;}
    
    .marglft {margin-left:  441px; max-width: 75%; margin-top: -8px !important;}
    
}


/* ******************************************
		Print Styles
	****************************************** */
	@media print and (max-width: 8.5in){
		
		#masthead {
			color:black;
		}
		
		#container-header {
			height: auto;
		}
		
		img {
			width:2in;
		}
		
		#portfolio	{
			float:left;
			width:45%;
		}
		
		#resume	{
			float:right;
			width:45%;
		}
		
		#container-footer	{
			clear:both;
		}
		
	}
	
/*From Code to add Lesson 5 */
h1, h2 {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
    }	

h4 {
    font-size: 1em;
    line-height: 1.56;
    text-transform: uppercase;
}

#portfolio h4 {
    line-height: 1.82;
}

h5,h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .85em;
	line-height: 1.53;
	font-weight: 500;
					}
    
h6 {
	color: #aaa;
	font-weight: 200;
					 }	
.box ul {
    list-style: none;
    padding: 0;
}


#nav h3 {
    text-transform: capitalize;
    color: #FFC90E;
}

.box h4 {
    color: #999;
    border-top: 4px double #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: .975em; /* 3/4 of 1.3 */
    text-align: center;
}

figure ,.box {
    background: #fff;
    -moz-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
    -webkit-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
    box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
    padding: .975em; /* 3/4 of 1.3 */
}
 #maya {
	/*
    -moz-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
    -webkit-box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
    box-shadow: 0 0 .325em .13em rgba( 0, 0, 0, .1 );
	*/
    padding: .975em; /* 3/4 of 1.3 */
	}

section footer {
    clear: both;
    }
	
	.wrapper {
    padding: 0 .65em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ******************************************
    IE 7 and below, legacy browser style fixes
****************************************** */

.ie .wrapper {
    *behavior: url("http://absolute-path.com/js/boxsizing.htc");
}

/* Clearfix */

.group {
    *zoom: 1;
    }
	
	/* Form / Basic Layout */

form {
    padding: 0 0 1.3em;
    }
    
form ul {
    list-style: none;
    padding: 1.3em 0 0;
    }
    
form li {
    padding: 0 0 .65em;
    }
	
legend {
	font-size: 1.382em; 
	line-height: 1.223;
	}
		    
label {
    display: block;
	font-size: 1em;
	line-height: 1.56;
    padding: 0 0 .325em;
	}
		
legend, label {      
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	}
	
input,
textarea {
    display: block;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.3;
	font-weight: 500;
    padding: .65em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    padding-bottom: 10%;
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    }

.send {
    display: inline-block;
    max-width: 30em;
    font-size: 1em;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    background: #0074b0;
    margin: .65em .26em;
    padding: .975em;
    border: 0;
    border-radius: 1.3em;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, .65);
    }
    
.send:hover {
    background: #6f6f6f;
    }
    
.send:active,
.send:focus {
    background: #555;
    }
	
	/* Headshot */

#maya {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
	background-color: transparent !important;
    }
    
#maya img {
    width: 100%;
    }



.txtLn1 {
    position: relative;
    top: -1.8em;
}

.txtLn2 {
     position: relative;
    top: -2.0em;
}

.bodyClr{
  background-color: #1A413C;  
}

.navbar-a {
    color: #FFC90E !important;
    
}

.navBg {
   background-color:  #A42A3C;
}

#myCarousel {
    margin-top: 0em;
    max-height: 25em;
    max-width: 1315px;
}

.item1 {
      background: url("img/sonicsLogo2PSTst.png") no-repeat top center;
    z-index: 10;
}

.pic1 {margin: 1% 0 0 15%; height: 400px;background-image: url("/img/sonicsLogo2PSTst.png");background-repeat: no-repeat;
    background-size: 693px 336px; }

.hmetxt {font-family: myFirstFont; font-size: 3em;color: #03201C; position: absolute; top: 236px; left: -65px; z-index: 100;}

.suprtxt {font-family: myFirstFont; font-size: 3em; color: #03201C;  margin: 542px 0 0 -62px; position: relative;
position: relative;
top: -11px;
left: -7px;}

.pic2 {margin: 1% 0 0 15%; height: 400px;background-image: url("/img/playtoWinPic1.png");background-repeat: no-repeat;
  background-size: 693px 336px;}

.pic3 {margin: 1% 0 0 15%;height: 400px; background-image: url("/img/refuse2Lose2.png"); background-repeat: no-repeat;
     background-size: 693px 336px;}

#content-wrapper {
    background-color: #FFF;
}

#about,  #contact, #sponsors {
    margin: 1em  1em;
}

#home {
    margin: 1em 1em 3em 1em;
    /*padding-bottom: 4em;*/
}

#about, #contact, #sponsors {
    display: none;
}

.sectitle {
    font-weight: bold;
    font-family: myFirstFont; 
    font-size: 2em;
    color: #03201C;
}

.container-fluid > .sidebar-right {
  float: right;
  width: 250px;
    height: 200px;
  margin: -26em 5em 0 0;
  background-image: url("/img/tvSupportWeb.png");
  background-repeat: no-repeat;
 background-size: 100% 100%;  
    
   
}


.hmtxt {
    font-family: "Roboto Condensed Light", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: 900;
    color: #66B866 !important;
    width: 100%;
}

.circular1 {
	width: 101px;
	height: 103px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
	background: url("/img/home-icon2Enter.png") no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    
     cursor:pointer;

     -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
     -ms-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
    margin-left: .5em;
  
	}

.circular1:hover {
    -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
     -o-transform: rotateY(180deg);
     -ms-transform: rotateY(180deg);
     transform: rotateY(180deg);
    
    width: 101px;
	height: 103px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
    background: url("/img/basketballImg1Txt2.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    
}

.circular2 {
    width: 170px;
	height: 158px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
	background: url("/img/iyonDefDrill3Txt3.png") no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    
     cursor:pointer;

     -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
     -ms-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
    display: block;
    float: left;
    margin: -11.1em 0 0 15em
}

circular2:hover {
    -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
     -o-transform: rotateY(180deg);
     -ms-transform: rotateY(180deg);
     transform: rotateY(180deg);
    
    width: 170px;
	height: 157px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
    background: url("/img/basketballImg1.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    display: block;
    float: left;
    margin: -11.1em 0 0 15em;
    
}



.circular2:hover {
    -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
     -o-transform: rotateY(180deg);
     -ms-transform: rotateY(180deg);
     transform: rotateY(180deg);
    
    width: 170px;
	height: 157px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
    background: url("/img/basketballImg1Txt.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    
}

.circular3 {
    width: 170px;
	height: 157px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
	background: url("/img/jordanDefDrill1Txt2.png") no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    
     cursor:pointer;

     -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
     -ms-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
    display: block;
    float: left;
    margin: -11.1em 0 0 2.5em
}

.circular3:hover {
    -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
     -o-transform: rotateY(180deg);
     -ms-transform: rotateY(180deg);
     transform: rotateY(180deg);
    
    width: 170px;
	height: 157px;
	border-radius: 85px;
	-webkit-border-radius: 85px;
	-moz-border-radius: 85px;
    background: url("/img/basketballImg1Txt.png") no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    
}

#clickHr {
    /*display: none;*/
    font-size: 1.4em;
    float: left;
    margin: -4.5em 0 0 -29em;
    z-index: 99;
    color: #000000; 
   
}

#clickHr a{
    text-decoration: underline;
    color: #FFFFFF; 
    z-index: 100;
    
}


 #bodyCarousel .carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}


#bodyCarousel .carousel-control {
     background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}

#bodyCarousel .carousel-control.left {
  background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}

#bodyCarousel .carousel-control.right {
  right: 0;
  left: auto;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
}

#bodyCarousel .carousel-control:hover,
#bodyCarousel .carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.bxslider {
    display: inline;
}

.padbtm {
    padding-bottom: 1em;
}

.padlft{margin-left: -6p !important;}
.marglft {margin-left:  509px;  max-width: 75%; margin-top: 10px; }

.tvbcgrd {
    background-image: url("/img/tvSupportWeb.png");
  background-repeat: no-repeat;
 background-size: 100% 100%;  
}

.sbar-right {
      float: right;
  width: 250px;
    height: 200px;
  margin: -26.1em -63em 0 0;
    
}

.carousel-inner{margin-left: 114px;}

@media (min-width: 1440px) and (max-width: 1601px) {

    .suprtxt {font-family: myFirstFont; font-size: 2.7em; color: #03201C; margin: 542px 0 0 -62px; position: relative;top: -11px; left: -7px;}
    .hmetxt {font-family: myFirstFont; font-size: 2.7em;color: #03201C; position: absolute; top: 236px; left: -65px; z-index: 100;}

}


 

.hmpgTopImg {
    background-image: url("/img/hmpgBBCrt.png");
    background-repeat: no-repeat;
    background-size: 400px 400px;
}
